<h1>看板裡面的文章</h1>

<h1>now, you are at: --><%= board_posts_path %></h1>

<%= form_with(model: @post, url: board_posts_path, local: true) do |p|%>
    
<div class="fields">
    <%= p.label :title, '文章名稱'%>
    <%= p.text_field :title%>
</div>

<div class="fields">
    <%= p.label :content, '文章內容'%>
    <%= p.text_area :content%>
</div>

    <%#= p.label :belongs_to, '作者'%><%# 因為不能讓他輸入，所以要註解掉喔👍 %>

    <%#= p.text_field :belongs_to %><%# 因為不能讓他輸入，所以要註解掉喔👍 %>


    <%= p.label :datetime, '時間'%>
    
    <%#= p.date_field :datetime%><%# 因為不能讓他輸入，所以要註解掉喔👍 %>


    <%= p.label :serial, 'IP'%>
    <%#= p.text_field :serial%><%# 因為不能讓他輸入，所以要註解掉喔👍 %>

    <%= p.submit '送出'%>
<% end %>


<%# 
      t.string :title
      t.text :content
      t.belongs_to :board, null: false, foreign_key: true
      t.datetime :deleted_at
      t.string :ip_address
      t.string :serial %>